* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 800px;
    margin-inline: auto;
    background-color: rgb(0, 70, 83);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    padding: 1rem 0;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 500px;
    gap: 0.6rem;
}

.cmn {
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1.3rem;
}

input {

    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;

}

input:focus {
    background-color: rgba(255, 255, 255, 0.18);
    /* outline: rgba(255, 255, 255, 0.5); */
    outline: 2px solid rgba(255, 255, 255, 0.3);
}

input::placeholder {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.FinalAns {
    padding: 1rem;
    background-color: rgba(123, 226, 255, 0.2);
    border-radius: 0.3rem;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: transparent;
    cursor: pointer;
}

.container button {
    background-color: rgb(0, 255, 0);
}

#refresh {
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width:600px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}